/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .run-button-container {
    margin-top: 20px;
    text-align: center; /* Center the run button if it's not full width */
  }
  