.carousel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  
  .carousel-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--brand-primary);
    color: var(--brand-light);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carousel-button:hover {
    background-color: var(--brand-info);
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  