/* theme.css */
:root {
  --brand-primary: #857dcc;
  --brand-secondary: #a7a7a7;
  --brand-success: #519668;
  --brand-danger: #c77171;
  --brand-warning: #d5a439;
  --brand-info: #5299e0;
  --brand-light: #ffffff;
  --brand-dark: #000015;
}


.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* High z-index to ensure it stays on top */
}

.custom-sidebar {
  margin-top: 56px; /* Adjust this value to match the height of your navbar */
}
